.skill-card {
  border-color: transparent;
}

.card-arrow {
  font-size: 0.9em;
}

@media (min-width: 1200px) {
  .skills-background {
    background-image: url('./skills-background.jpg');
    background-color: rgb(50, 50, 50);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    color:white;
    height:100%;
    width:100%;
  }

  .skill-cards {
    width: 70%;
    margin: auto;
  }
}
