.nav-default {
    width: 100%;
    font-size: 1.5rem;
}

.nav-link-text {
    font-size: 0;
    transition: 0.2s ease-in-out;
    visibility: hidden;
}

div > a:hover .nav-link-text {
    font-size: 1.2rem;
    visibility: visible;
    transition: 0.2s ease-in-out;
}

.nav-bottom {
    position: absolute;
    bottom: 0;
}

.nav-style {
    opacity: 0.9;
    background: linear-gradient(to right, black, #010f5e);
}

.nav-link {
    color: lightgrey !important;
}

.nav-link:hover {
    color: white !important;
}

.contact-link {
    font-size: 1.8rem;
}
