.bg-experience {
  background-color: rgb(200, 200, 200);
  background-image: url("/public/home-background.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  height: 100vh;
  width: 100%;
}