@media screen and (min-width: 1200px) {
    #skills {
        height: 80vh;
    }
    #projects {
        height: 100vh;
    }
}

.main {
    background-color: #f2f2f2;
}

span {
    font-size: 1.3rem;
}
